@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@0,100..900;1,100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
};

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightPink);
  background-image: url("images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
}

.box {
  margin: 0 auto;
  margin-top: 10rem;
  padding: 20px 28px;
  max-width: 400px;
  height: fit-content;
  background-color: var(--white);
  border-radius: 16px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.heading img {
  width: 28px;
}

.heading h1 {
  color: var(--darkPurple);
  font-weight: 900;
}

.accordion-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion:not(:last-child) {
  border-bottom: 1px solid var(--lightPink);
}

.accordion-btn {
  padding-block: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  color: var(--darkPurple);
  transition: background .2s ease-in;
}

.accordion-btn span {
  text-align: start;
  font-size: 14px;
  font-weight: 600;
  transition: color .2s ease;
}

.active, .accordion-btn:hover {
  color: rgb(176, 11, 176);
}

.panel {
  font-size: 14px;
  color: var(--grayishPurple);
  padding-inline: 6px;
  height: 0px;
  overflow: hidden;
  transition: all .3s ease;
}

@media screen and (max-width: 480px){
  .box {
    max-width: 300px;
    padding: 10px 14px;
  }

  .accordion-btn {
    gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-image: url("images/background-pattern-mobile.svg");
    background-size: cover;
  } 
}